@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table{ font-size: 14px; padding: 4px }

.wallet-icons{ margin-right: 0px; }

.btn-block {display: block;align-items: center; }
.btn-lg { padding: 0.5rem -2rem;font-size: 1.25rem;line-height: 1.5; border-radius: .3rem; width: 114%; }

.form-control {display: block; width: 113%; }

.sidebar { width: 25%; height: 100vh; min-height: 200px; overflow: auto; position: -webkit-sticky; position: sticky; top: 5%; }
  
.validation {  width: 170%; }
.validation span { color:red;  text-align: center }

.listItem .firstRow                                 { display: block; padding: 1em 1.3em 0.1em 1.3em;  }
.listItem                                           { position: relative; height: 5.2em; border-bottom: 1px solid #e0e0e0; cursor: pointer; }
.listItem:hover                                     { background-color: rgba(0,0,0,0.04); }
.listItem.ui-active                                 { background-color: rgba(0,0,0,0.08); cursor: default; }


.listWrapper  { position: absolute; top: 6em; right: 0; bottom: 0; left: 0; overflow: auto; }
.listWrapper .list           { padding: 0 1.4em; }

.listItem .firstRow .Wrapper                  { opacity: 0.8; }
.listItem .firstRow .Wrapper .separator       { font-size: 19px; }
.listItem .firstRow .Wrapper .numberOfMatches { font-size: 19px; }
.listItem .firstRow .Wrapper .ticketCode      { font-size: 19px; }
/* .listItem .firstRow .details                  { overflow: hidden; white-space: nowrap; 
                                              -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis;  } */

.listItem.selected                           { background-color: rgba(0,0,0,0.08); cursor: default; }


.listItem .secondRow                         { display: block; padding: 0 1.3em 0 1.3em; opacity: 0.8; }
.listItem .secondRow .details                { overflow: hidden; white-space: nowrap; }
.listItem .secondRow .details .delete        { float: right;}

.typeSelected                               { background-color: rgba(0,0,0,0.37); cursor: default;  border-radius: 11px;   text-align: center;  } 

div.form-group.required>label:first-child:after {  content:'*'; color: #dc3545; padding-left: 5px; }



/************************************* Registration and login ****************************************/

input.form-control,input.form-control:focus{
    background-color: #636b7b;
    color: #fff;
    border: 1px solid #636b7b;

}

input.form-control:focus{
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #04c582;
    color: #fff;
}

div.form-group label:not(.text-danger){
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }
/************************************* Registration and login ****************************************/