@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table{
    font-size: 14px;
    padding: 4px
}

.wallet-icons{
     margin-right: 0px;
}

.btn-block {
    display: block;
    align-items: center;
}
.btn-lg {
    padding: 0.5rem -2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    width: 114%;
}

.form-control {
    display: block;
    width: 113%;
}